/* VARIABLES */
:root {
    --primary-color: #C5A059; /* Dorado para detalles y botones */
    --bg-dark: #121212;       /* Negro para el fondo principal */
    --text-light: #FFFFFF;    /* Blanco para textos principales */
    --text-muted: #a7a7a7;    /* Gris para textos secundarios */

    --font-title: 'serif';      /* Tipografia titulos */
    --font-body: 'sans-serif';  /*Tipografia para el contenido */
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
    font-family: var(--font-body);
    line-height: 1.6;
}

/* Clase de utilidad para centrar el contenido en la pantalla */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER & NAV */
.header {
    width: 100%;
    background-color: var(--bg-dark);
    position: fixed; /* Se queda arriba siempre al hacer scroll */
    top: 0;
    left: 0;
    z-index: 100; /* Para que este siempre por encima de lo demá */
    border-bottom: 1px solid rgb(255, 255, 255, 0.05);
}

.nav {
    height: 80px; /* Altura fija para el menú */
    display: flex;
    justify-content: space-between; /* Logo a un lado, hamburguesa al otro */
    align-items: center;
}

.nav__logo {
    color: var(--text-light);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.nav__logo span {
    color: var(--primary-color);
}

/* Menú hamburguesa */
.nav__toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav__toggle-bar {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--text-light);
    transition: 0.3s;
}

.nav__menu {
    display: none; /* Oculto por defecto */
}

/* Estilos para el menú móvil cuando este desplegado */
@media (max-width: 768px) {
    .nav__menu {
        display: block; /* Lo volvemos a mostrar*/ 
        position: fixed;
        top: 80px; /* Justo debajo del header */
        left: -100%;/* Lo sacamos de la pantalla por la izquierda */
        background-color: var(--bg-dark);
        width: 100%;
        height: 100vh;
        padding: 40px;
        transition: all 0.5s ease; /* Animación suave */
        list-style: none;
    }

    .nav__item {
        margin-bottom: 2rem;
    }

    .nav__link {
        color: var(--text-light);
        text-decoration: none;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    /* Cuando el checkbox esté marcado, el menú entra en la pantalla */
    .nav__check:checked ~ .nav__menu {
        left: 0;
    }
}